.header {
	width: 100%;
	background-size: cover;
	overflow: hidden;
	text-align: center;
}

.header .sszlogo {
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 200px;
	z-index: 10;
}


.margin-80 {margin: 80px 0;}


.h3 {

	font-size: 3em;
	font-weight: 700;

}

.cover {
	margin-bottom: 20px;
}

.cover .cover_img {
	min-height: 200px;
	width: 100%;
}

.mag {
	width: 100%;
	height: 300px;

}

// bigger than phablet

@media (min-width: 550px) {
	.mag {height: 500px;}
}


// Videos

// .videoWrapper {
// 	position: relative;
// 	padding-bottom: 56.25%; /* 16:9 */
// 	padding-top: 25px;
// 	height: 0;
// }
// .videoWrapper object,
// .videoWrapper embed,  {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// }