.header {
	width: 100%;
	background-size: cover;
	overflow: hidden;
	text-align: center;
}

.header .sszlogo {
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 200px;
	z-index: 10;
}


.margin-80 {margin: 80px 0;}


.h3 {

	font-size: 3em;
	font-weight: 700;

}


.cover {
	margin-bottom: 20px;
}

.cover .cover_img {
	min-height: 200px;
	width: 100%;
}